/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

@font-face {
  font-family: 'Aileron Regular';
  src: url('/sites/default/files/fonts/aileron/Aileron-Regular.otf');
}

@font-face {
  font-family: 'Aileron Black';
  src: url('/sites/default/files/fonts/aileron/Aileron-Black.otf');
}

body {
   font-family: 'Aileron Regular';
   font-weight: normal;
   font-style: normal; 
}

header#navbar {
  background-color: #fff;
  margin-top: 22px;
  margin: 0;
  padding: 38px 30px !important;
  border: 0px;
  top: 0px;
}

header div.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

a.logo {
  margin:0;
}

a.logo img {
  width: 200px;
  margin-left: 50px;
}

nav {
  float: right;
  font-family: 'Aileron Black';
  font-style: normal;
  color: #8A8A8A;
  font-size: 1.2rem;
  letter-spacing: 0px;
  padding: 0px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  margin-top: 22px;
  line-height: 1;
}

#navbar a:focus, #navbar a:hover, a:focus, a:hover {
  color: #c33d9f;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
  color: #c33d9f;
}

div.main-container {
  margin-top: 195px;
}

footer.container {
  width: 100%;
  margin: 0;
  text-align:center;
}

footer {
  font-size: 10px !important;
  background: #000;
  padding: 0.4em 0;
  font-weight: 600;
  color: #fff;
}

footer a, footer a {
  color: #fff;
}

footer a:hover, footer a:focus {
  text-decoration: underline;
}

.label label {
  color: #000;
}
